@font-face {
  font-family: "iconfont"; /* Project id 3768526 */
  src: url('iconfont.woff2?t=1675500189096') format('woff2'),
       url('iconfont.woff?t=1675500189096') format('woff'),
       url('iconfont.ttf?t=1675500189096') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test2:before {
  content: "\e64a";
}

.icon-icon-test:before {
  content: "\e63c";
}

.icon-icon-test1:before {
  content: "\e658";
}

.icon-fanhui:before {
  content: "\e607";
}

.icon-chenggong:before {
  content: "\e8ad";
}

